@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-purple {
  @apply bg-bm-purple text-white
}

.btn-red {
  @apply bg-bm-red text-white
}

.btn-white {
  @apply bg-bm-white
}

.fixed_body{
  overflow: hidden;
  block-size: 100%;
}